<!-- 
    

<br><br>
<div class="container align-items-center justify-content-center">
    
    <div class="row">
        <a class="btn  col-2"  routerLink="/register">Register</a>
    </div>
    <br>
    <div class="row">
        <a class="btn  col-2" routerLink="/login">Login</a>
    </div>
    <br>
    <div class="row">
        <a class="btn  col-2" routerLink="/create request">create request</a>
    </div>
    <br>
    <div class="row">
        <a class="btn  col-2" routerLink="/getrequestbystatus">get request</a>
    </div> 
    <br>
    <div class="row">
        <a class="btn  col-2" routerLink="/updatecustomerdetails">Update Customer Details</a>
    </div> 
    <br>
    <div class="row">
        <a class="btn  col-2" routerLink="/getcustomers">Get Registered Customers</a>
    </div> 
    <br>
    <div class="row">
        <a class="btn  col-2" routerLink="/getrequests">Get requests</a>
    </div> 
    <br>
    <div class="row">
        <a class="btn  col-2" routerLink="/updaterequest">Update Request</a>
    </div> 
    
</div> -->
